@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Piedra&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
h1{
    text-align: center;
    margin: 23px 0px;
}
.container{
    justify-content: center;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container h1{
    font-family: 'Pangolin';
    font-size: 40px;

}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    font-size: 15px;
    width: 40%;
    padding: 9px;
    margin: 12px;
    border: 2px solid burlywood;
    border-radius: 10px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:#d43b3b;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: black;
}